@font-face {
  font-family: 'CeraPro';
  font-style: normal;
  font-display: swap;
  src: local('CeraPro'), url('../fonts/CeraPro.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  src: local('Montserrat'), url('../fonts/Montserrat.woff2') format('woff2');
}