body {
  color: var(--light);
  font-family: var(--montserrat);
  background-color: var(--dark);
  font-style: normal;
  font-size: 18px;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-offset);
  width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}